.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #61656c;
    color: white; 
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navLinks a {
    color: white;
    text-decoration: none;
  }
  
  .logo img {
    height: 75px; /* Adjust the size as needed */
    width: auto; /* Maintain aspect ratio */
  }
  